<div class="container mt-3">
    <div class="row">
        <h3 class="fw-bold mb-1">Test de rendimiento Boostrap</h3>
        <p class="mb-3">Ejemplo de rendimiento renderizando 10 mil tarjetas</p>
        <div *ngFor="let item of [].constructor(10000); let i = index" class="col-md-6 col-lg-4 col-xl-3 col-xxl-2">
            <div class="rounded-3 border mb-3 bg-white mb-3">
                <img class="img-fluid" style="aspect-ratio: 1 / 1;" src="{{card.image}}" alt="{{card.title}}">
                <div class="p-3">
                    <h6 class="font-bold mb-2">{{card.title}}</h6>
                    <p class="small mb-2">
                        {{card.description}}
                    </p>
              
                    <button type="button" class="btn btn-primary">Consequat</button>
                </div>
                
            </div>
        </div>
    </div>
</div>

