<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Son cuadros que aparecen sobre la página, <strong>bloqueando todas las funciones para concentrar el foco en una acción particular</strong>. Esta es su característica diferenciadora, le piden al usuario a realizar una acción. Por esto, normalmente usan llamados a la acción o preguntas como “¿Quieres borrar esta imagen?” o “Suscríbete”.</p>
                <p>Las ventanas modales se activan cuando el usuario hace clic en un llamado o presiona un botón. Cuando son bien usadas, previenen a los usuarios de errores y facilitan acciones al permitir realizarlas sin salir de la página.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>