<div class="container mt-5">

  <h1>Comparacion de frameworks</h1>
  <table style="width: 100%; border-color: #000; border-width: 1px;" border="1" cellspacing="5" cellpadding="5">
    <tbody>
      <tr>
        <td style="border-color: #000000; vertical-align: top;"> </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <h3><strong>Bootstrap </strong></h3>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <h3><strong>Tailwind CSS </strong></h3>
        </td>
      </tr>
      <tr>
        <td style=" border-color: #000000; vertical-align: top;">
          <h4>Enfoque</h4>
        </td>
        <td>
          <p>Bootstrap es un marco basado en componentes que proporciona componentes y elementos de interfaz de usuario
            prediseñados.</p>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS es un marco de utilidad que ofrece clases de CSS de bajo nivel para crear componentes de
            interfaz de usuario personalizados.</p>
        </td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;"><h4>Estilo</h4></td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;"> Bootstrap aplica estilos globales e incluye
          temas prediseñados.</td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;"> Tailwind CSS no aplica estilos globales y
          fomenta el estilo personalizado.</td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;">
          <h4 class="ol1">Personalización</h4>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p class="ol1">Bootstrap ofrece personalización limitada a través de variables SCSS.</p>
          <p>Ejemplo:</p>
          <pre class="ul1" style="padding-left: 30px;">
            <code class="language-plaintext">
              $primary: #4a148c;
              @import 'bootstrap/scss/bootstrap';
          </code>
        </pre>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS proporciona una amplia personalización a través de archivos de configuración.</p>
          <p>Ejemplo:</p>
          <pre class="ul1" style="padding-left: 30px;"><code class="language-plaintext">{{"module.exports = {
    theme: {
      extend: {
        backgroundColor: {
          'primary': '#4a148c',
        },
      },
    },
    variants: {},
    plugins: [],
  };"}}</code></pre>
          <p> </p>
        </td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;">
          <h4 class="ol1">Tamaño del archivo</h4>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p class="ol1">Bootstrap tiene un tamaño de archivo más grande, incluidos componentes que no puedes usar.</p>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS genera un tamaño de archivo más pequeño y solo incluye las utilidades utilizadas.</p>
        </td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;">
          <h4 class="ol1">JavaScript</h4>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p class="ol1">Bootstrap requiere jQuery para algunos componentes, como modales y información sobre
            herramientas.</p>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS no requiere JavaScript para diseñar, pero se puede ampliar con JavaScript si es necesario.</p>
        </td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;">
          <h4>Curva de aprendizaje</h4>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Bootstrap tiene una curva de aprendizaje suave, ya que se basa en una sintaxis familiar de HTML y CSS.</p>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS tiene una curva de aprendizaje más pronunciada, debido a su enfoque de utilidad primero y su
            sintaxis personalizada.</p>
        </td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;">
          <h4>Responsividad</h4>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Bootstrap utiliza un sistema de cuadrícula de 12 columnas predefinido para mejorar la capacidad de
            respuesta.</p>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS ofrece un sistema de cuadrícula flexible con puntos de interrupción personalizados.</p>
        </td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;">
          <h4>Restricciones de diseño</h4>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Bootstrap puede limitar la creatividad del diseño debido a sus componentes prediseñados.</p>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS fomenta diseños únicos a través de su enfoque de utilidad primero.</p>
        </td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;"> <h4>Comunidad y ecosistema</h4>
        </td>
        <td>Bootstrap tiene una comunidad más grande y extensas bibliotecas y plantillas de terceros.</td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS tiene una comunidad en crecimiento, pero menos recursos de terceros.</p>
        </td>
      </tr>
      <tr>
        <td style="border-color: #000000; vertical-align: top;"> <h4>Versionado</h4></td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Bootstrap se encuentra actualmente en la versión 5.</p>
        </td>
        <td style="width: 50%; border-color: #000000; vertical-align: top;">
          <p>Tailwind CSS se encuentra actualmente en la versión 3.</p>
        </td>
      </tr>
    </tbody>
  </table>
  <p class="mt-4">En conclusión, tanto Bootstrap como Tailwind CSS son marcos poderosos, cada uno con sus propias
    fortalezas y filosofías de diseño. La elección entre los dos depende de los requisitos de su proyecto, las
    preferencias personales y el nivel de personalización necesario. Si está buscando un marco que permita la creación
    rápida de prototipos y ofrezca una amplia gama de componentes prediseñados, Bootstrap podría ser la mejor opción.
    Por otro lado, si prefieres un enfoque más modular y un mayor control sobre tu diseño, Tailwind CSS sería la opción
    ideal. Independientemente de su elección, ambos marcos pueden ayudarlo a crear aplicaciones web responsivas y
    visualmente atractivas, al tiempo que mejoran su productividad y experiencia de desarrollo general. También puede
    leer más sobre la comparación de Bootstrap y Tailwind CSS, y cómo usar bootstrap y cómo usar las guías de Tailwind
    CSS.</p>


</div>