<div class="container mt-5">

    <h1>Comparacion de framework</h1>
    <hr>
    <br>
  
    <div class="descripcion">
      <h3 class="ol1">1. Enfoque</h3>
      <ul>
        <li class="ul1">Bootstrap es un marco basado en componentes que proporciona componentes y elementos de interfaz de
          usuario prediseñados.</li>
        <li class="ul1">Tailwind CSS es un marco de utilidad que ofrece clases de CSS de bajo nivel para crear componentes
          de interfaz de usuario personalizados.</li>
      </ul>
  
      <h3 class="ol1">2. Estilo</h3>
      <ul>
        <li class="ul1">Bootstrap aplica estilos globales e incluye temas prediseñados.</li>
        <li class="ul1">Tailwind CSS no aplica estilos globales y fomenta el estilo personalizado.</li>
      </ul>
 
  
      <h3 class="ol1">3. Personalización</h3>
      <ul>
        <li class="ul1">Bootstrap ofrece personalización limitada a través de variables SCSS.</li>
        <li class="ul1">Tailwind CSS proporciona una amplia personalización a través de archivos de configuración.</li>
      </ul>
      <h3 class="ol1">4. Tamaño del archivo</h3>
      <ul>
        <li class="ul1">Bootstrap tiene un tamaño de archivo más grande, incluidos componentes que no puedes usar.</li>
        <li class="ul1">Tailwind CSS genera un tamaño de archivo más pequeño y solo incluye las utilidades utilizadas.
        </li>
      </ul>
      <h3 class="ol1">5. JavaScript</h3>
      <ul>
        <li class="ul1">Bootstrap requiere jQuery para algunos componentes, como modales y información sobre herramientas.
        </li>
        <li class="ul1">Tailwind CSS no requiere JavaScript para diseñar, pero se puede ampliar con JavaScript si es
          necesario.</li>
      </ul>
      <h3 class="ol1">6. Curva de aprendizaje</h3>
      <ul>
        <li class="ul1">Bootstrap tiene una curva de aprendizaje suave, ya que se basa en una sintaxis familiar de HTML y
          CSS.</li>
        <li class="ul1">Tailwind CSS tiene una curva de aprendizaje más pronunciada, debido a su enfoque de utilidad
          primero
          y su sintaxis personalizada.</li>
      </ul>
      <h3 class="ol1">7. Capacidad de respuesta</h3>
      <ul>
        <li class="ul1">Bootstrap utiliza un sistema de cuadrícula de 12 columnas predefinido para mejorar la capacidad de
          respuesta.</li>
        <li class="ul1">Tailwind CSS ofrece un sistema de cuadrícula flexible con puntos de interrupción personalizados.
        </li>
      </ul>
    </div>
  
  </div>